<div class="book">
    <% if (book.cover_id == null || book.cover_id == -1) { %>
      <%- include('../partials/no_cover.ejs') %>
    <% } else {%> 
      <img src= <%= `https://covers.openlibrary.org/b/id/${book.cover_id}-L.jpg` %> alt="Description of the image" />
    <% } %>
    <div class="details">
        <h3><%= book.title %></h3>
      <p>Read date: <span><%= book.read_date %> </span></p>
      <p>Authors:</p>
      <ul class="authors">
        <% book.authors.forEach(author => { %>
          <li><%= author %></li>
        <% }) %>
      </ul>
      <p>Rating: <span><%= book.rating %>/5</span></p>
      <p> Note: <span><%= book.note %></span></p>
    </div>
  </div>